.benefits {
    position: relative;
    padding: 120px 0;

    &::after {
        content: 'II';
        left: calc(50% + 555px);
        transform: translate(-50%, 0%);
        @include decorNumber();
    }
}

.benefits__row {
    display: flex;
    column-gap: 70px;
}

.benefits__item {
    text-align: center;

    &-img {
        margin-bottom: 53px;
    }

    &-text {
        font-size: 20px;
        color: $white;
        line-height: 1.35;
        font-family: $font-secondary;
        font-weight: 300;
    }
}