.benefits {
    position: relative;
    padding: 120px 0;

    &::after {
        content: 'II';
        
        position: absolute;
        top: 0;
		left: calc(50% + 555px);
		transform: translate(-50%, 0%);
        line-height: 1.15;

        opacity: 0.02;
        font-size: 400px;
        font-family: $font-accent;
    }
}

.benefits__row {
    display: flex;
    column-gap: 70px;
}

.benefits__item {
    text-align: center;

    &-img {
        margin-bottom: 53px;
    }

    &-text {
        font-size: 20px;
        color: $white;
        line-height: 1.35;
        font-family: $font-secondary;
        font-weight: 300;
    }
}