.cta {
    padding: 180px 0;
    background: url('./../img/cta/cta-bg.jpg');

    @include mediaTablet {
        padding: 60px 0;
    }
}

.cta__title {
    margin-bottom: 17px;
}

.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: 1fr;
    }
}

.cta__text {
    line-height: 1.5;

    p+p {
        margin-top: 1em;
    }

    @include mediaTablet {
        font-size: 14px;
    }
}

.cta__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
    align-items: center;

    
    @include mediaTablet {
        grid-template-columns: 1fr;
    }
}