.footer {
    background-color: $footer-bg;
    padding-top: 72px;
    padding-bottom: 51px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer__logo {
    margin-top: -12px;
}

.footer__nav {}

.footer__nav-list {
    display: grid;
    gap: 15px;
}

.footer__address {
    display: grid;
    gap: 20px;
}

.footer__socials {
    display: flex;
    column-gap: 22px;
    align-items: center;
}