.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 74px;

	min-height: 840px;
	background: url('./../img/header/header-bg.jpg');

}


.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    position: relative;
    padding-bottom: 121px;

    text-align: center;
    font-size: 48px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;

}

.header__title-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}